.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 20px;

  li {
    a {
      color: #007bff;
      text-decoration: none;
      padding: 0.5rem 0.75rem;
      border: 1px solid #dee2e6;
      margin: 0 0.25rem;
      transition: all 0.2s ease-in-out;
      border-radius: 0.25rem;

      &:hover {
        background-color: #007bff;
        color: #fff;
      }
    }

    &.active a {
      background-color: #007bff;
      color: #fff;
    }

    &.disabled a {
      color: #6c757d;
      pointer-events: none;
      background-color: #fff;
      border-color: #dee2e6;
    }
  }
}
.modal-backdrop {
  background: none;
}
.modal-content {
  width: 750px;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
